.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: rgb(249, 249, 249);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #303030;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(141, 142, 141);
}

.navbutton {
  margin: 10px;
  font-size: 14px;
  color: #a8a8a8;
  cursor: pointer;
}

.navbutton-selected {
  margin: 10px;
  font-size: 14px;
  color: rgb(255, 192, 0);
  cursor: pointer;
}

.navheader {
  margin: 10px 20px 10px 20px;
  color: rgb(255, 192, 0);
}

.boxbar {
  padding: 5px;
  color: rgb(253, 255, 253);
  background-color: #8B8B8C;
}

.box {
  width: 300px;
  margin: 30px 30px 0 30px;
  background-color: #8B8B8C;
}

.content {
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
}

.settings-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-box-inner {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 600px;
  display: flex;
  flex-direction: row;
  /*background-color: rgb(233, 233, 233);*/
}

.settings-box-left {
  margin-left: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings-box-right {
  margin-left: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings-box-items {
  margin: 3px;
}

.pw-cracking-input-box {
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #8B8B8C;
}

.pw-cracking-content {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
}

#root > div > header > div {
  background: #2E4EA1
}

#root > div > header > div > h1 {
  color: white;
}

#root > div > header > div > button:nth-child(3) > span.MuiIconButton-label-61 > span > svg > path {
  color: #d8d8d8;
}
